<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gold_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Ninja Gold</title>
</head>
    <div id = 'wrapper'>
        <body>
            <div class="header">
                <p>Your Gold:</p>
                <div id = 'goldcount'>
                    {{ request.session.yourGold }}
                </div>
            </div>
            <div id="placesholder">
                <div class="places">
                    <h2>Farm</h2>
                    <p>(Earns  10-20 golds)</p>
                    <form action='/process/farm' method='post'>
                    <!-- <form action='/process' method='post'> -->
                        {% csrf_token %}
                        <!-- <input type="hidden" name="building" value="farm" /> -->
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
                <div class="places">
                    <h2>Cave</h2>
                    <p>(Earns 5-10 golds)</p>
                    <form action='/process' method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="building" value="cave" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
                <div class="places">
                    <h2>House</h2>
                    <p>(Earns 2-5 golds)</p>
                    <form action='/process' method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="building" value="house" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
                <div class="places">
                    <h2>Casino</h2>
                    <p>(Earns/Takes 0-50 golds)</p>
                    <form action='/process' method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="building" value="casino" />
                        <input type="submit" value="Find Gold!"/>
                    </form>
                </div>
                <div id = '/reset'>
                    <form action='/reset' method='post'>
                        {% csrf_token %}
                        <input type='submit' value='RESET'>
                    </form>
                </div>
            </div>
            
            
            <div class = 'footer'>
                Activities:
                <div class="history">
                    {% for i in request.session.history %}
                        {% if i.currentWin > 0 %}
                            <div class='winningColor'>
                                You Earned {{ i.currentWin}} golds from the {{ i.currentPlace}}! ({{i.timeStamp}})
                            </div>
                        {% else %}
                            <div class="losingColor">
                                Entered a {{ i.currentPlace}} and lost {{ i.currentWin }} golds...Ouch ({{i.timeStamp}})
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>   
            </div>   
        </body>
    </div>
</html>